/* Variables */
:root{
    /* HEADER */
    --header-height: 100px;    
    --header-border-color: rgb(80, 80, 80);
    --header-background-color: #171717;
    --header-font-size: 0.8em;
    --header-font-color: rgb(200,200,200);
    
    /* MAIN */
    --main-background-color: rgb(214, 211, 211);
    --main-padding: 10px;
    
    /* FOOTER */
    --footer-height: 30px;    
    --footer-border-color: var(--header-border-color);
    --footer-background-color: var(--header-background-color);
    --footer-font-size: 0.7em;
    --footer-font-color: var(--header-font-color);
    
    /* MISC */
    --border-width: 2px;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
    
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

/* =================== */
/*     Header Styles   */
/* =================== */
header {
    z-index: 10;
	position: absolute;
	height: var(--header-height);
	width: 100%;
	background-color: var(--header-background-color);
	display: flex;
	border-bottom: solid;
	border-color: var(--header-border-color);
	border-width: var(--border-width);
	box-shadow: 0 1px 5px black;
}

.tool-group-container {
	padding: 10px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: var(--header-font-color);
	border-right: solid;
	border-color: var(--header-border-color);
	border-width: var(--border-width);
}

.tool-group-icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.tool-group-buttons{
	border-width: 1px;
	width: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

.tool-group-label{
   /* z-index: 15;*/
    margin: 0;
    border-width: 1px;
    font-size: var(--header-font-size);
}

.tool-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.tool-radio {
    display: none;
}

.tool-icon {    
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.25s;
}

/* Tool hover/select animation  */
.tool-radio:checked + .tool-icon,
.tool-icon:hover{
    width: 28px;
    height: 28px;
    border: 1px solid cyan;
    border-radius: 5px;
}

.width-options-container {
    position: absolute;
    top: 70px;
    overflow: hidden;
    cursor: pointer;
    height: 0px;
    width: 80px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px black;    
    background-color: var(--header-background-color);
    display: flex;
    flex-direction: column;
    transition: height 0.2s;
}

.width-option {
    height: 33px;
    width: 80px;
}

.width-icon {
    height: 30px;
    transition: width 0.2s, height 0.2s;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Width options container open animation */
.width-options-container:hover,
.tool-group-icon:hover + .width-options-container {
    position: absolute;
    overflow: visible;
    height: 200px;
}

/* Width option  hover/select animation  */
.tool-radio:checked + .width-icon,
.width-icon:hover{
    height: 33px;
    border: 1px solid cyan;
    border-radius: 5px;
}

/* =================== */
/* Drawing Area Styles */
/* =================== */
main {
    position: absolute;
	top: var(--header-height);
	bottom: var(--footer-height);
    width: 100%;
    padding: var(--main-padding);
	background-color: var(--main-background-color);
}

#drawing-area{
    width: 860px;
    height: 400px;
}

#canvas {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(100,100,100);
    position: absolute;
}

.resize-box, 
.move-box{    
    background-color: white;
    border: solid;
    border-width: 1px;
    width: 5px; 
    height: 5px;
    position: absolute;
    cursor: nw-resize;
}

.move-box {
    cursor: move;
}

.resize-box:hover, 
.move-box:hover {
    background-color: cyan;
    border-color: blue;
    width: 6px;
    height: 6px;
}

/* =================== */
/*     Footer Styles   */
/* =================== */
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);    
    display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: solid;
	border-color: var(--footer-border-color);
	border-width: var(--border-width);
}

.footer-container{
	padding: 5px 15px;
	height: 85%;
    color: var(--footer-font-color);
    font-size: var(--footer-font-size);
	border-right: solid;
	border-color: var(--footer-border-color);
	border-width: var(--border-width);
}

#zoom-percentage{
	margin-left: auto;
	border-right: none;
}