/* Variables */
:root{
    /* HEADER */
    --header-height: 110px;    
    --header-border-color: rgb(80, 80, 80);
    --header-background-color: #171717;
    --header-font-size: 0.8em;
    --header-font-color: rgb(200,200,200);
    
    /* MAIN */
    --main-background-color: rgb(214, 211, 211);
    --main-padding: 10px;
    
    /* FOOTER */
    --footer-height: 30px;    
    --footer-border-color: var(--header-border-color);
    --footer-background-color: var(--header-background-color);
    --footer-font-size: 0.7em;
    --footer-font-color: var(--header-font-color);
    
    /* MISC */
    --border-width: 2px;
    --hover-color: cyan;
}

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
    
html, body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* =================== */
/*     Header Styles   */
/* =================== */
header {
    z-index: 10;
	position: absolute;
	height: var(--header-height);
	width: 100%;
	background-color: var(--header-background-color);
	display: flex;
	border-bottom: solid;
	border-color: var(--header-border-color);
	border-width: var(--border-width);
	box-shadow: 0 1px 5px black;
}

.header-section {
	padding: 10px 15px;
	color: var(--header-font-color);
	border-right: solid;
	border-color: var(--header-border-color);
	border-width: var(--border-width);
    font-size: var(--header-font-size);
}

/* Tools */
.tool-group-container{
	border-width: 1px;
	width: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}
 
.tool-container {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.hidden-input {
    display: none;
}

.tool-icon {    
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.25s;
}

.hidden-input:checked + .tool-icon,
.tool-icon:hover{
    width: 28px;
    height: 28px;
    border: 1px solid var(--hover-color);
    border-radius: 5px;
}

/* Width selection */
.width-options-container {
    position: absolute;
    top: 70px;
    overflow: hidden;
    cursor: pointer;
    height: 0px;
    width: 80px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px black;    
    background-color: var(--header-background-color);
    transition: height 0.2s;
}

.width-options-icon {
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.width-container {
    height: 33px;
    width: 80px;
    position: relative;
}

.width-icon {
    height: 30px;
    transition: width 0.2s, height 0.2s;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.width-options-container:hover,
.width-options-icon:hover + .width-options-container {
    position: absolute;
    overflow: visible;
    height: 200px;
}

.hidden-input:checked + .width-icon,
.width-icon:hover{
    height: 33px;
    border: 1px solid var(--hover-color);
    border-radius: 5px;
}

/* Color selection */
.color-selection-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 4px;    
    font-size: 0.9em;
}

.color-active-container {
    cursor: pointer;
    height: 60px;
    width: 42px;
    border-radius: 5px
}

.color-active {
    border: 2px white solid;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color: red;
    transition: height 0.2s, width 0.2s;
}

.hidden-input:checked +.color-active,
.color-active-container:hover .color-active {
    border-color: var(--hover-color);
    width: 35px;
    height: 35px;
}

.tool-radio:checked +.color-active {
   
}

.color-options-grid {
    display: grid;
    grid-template-columns: repeat(10, 19px);
    grid-template-rows: repeat(3, 19px);
    grid-gap: 3px;
}

.color-option {
    border: 2px white solid;
    border-radius: 5px;
    cursor: pointer;
}

.color-option:hover {
    border: 2px var(--hover-color) solid;
}

.color-custom {
    background-color: white;
}

.color-picker-container {
    cursor: pointer;
}

.color-picker {
    border: 2px white solid;
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.color-picker-container:hover .color-picker{
    border-color: var(--hover-color);
}

/* =================== */
/* Drawing Area Styles */
/* =================== */
main {
    position: absolute;
	top: var(--header-height);
	bottom: var(--footer-height);
    width: 100%;
    padding: var(--main-padding);
	background-color: var(--main-background-color);
}

#drawing-area {
    width: 100%;
    height: 100%;
}   

#canvas {
    background-color: white;
    box-shadow: 5px 5px 5px rgb(100,100,100);
    position: absolute;
}

.box{    
    background-color: white;
    border: solid;
    border-width: 1px;
    width: 5px; 
    height: 5px;
    position: absolute;
}

.box:hover{
    background-color: var(--hover-color);
    border-color: blue;
    width: 6px;
    height: 6px;
}

.resize-box, .corner-box{
    cursor: nwse-resize;
}

.move-box {
    cursor: move;
}

.right-box {
    cursor: col-resize;
}

.bottom-box {
    cursor: row-resize;
}


/* =================== */
/*     Footer Styles   */
/* =================== */
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);    
    display: flex;
	justify-content: flex-start;
	align-items: center;
	border-top: solid;
	border-color: var(--footer-border-color);
	border-width: var(--border-width);
}

.footer-container{
	padding: 5px 15px;
	height: 85%;
    color: var(--footer-font-color);
    font-size: var(--footer-font-size);
	border-right: solid;
	border-color: var(--footer-border-color);
	border-width: var(--border-width);
}

#zoom-percentage{
	margin-left: auto;
	border-right: none;
}